body{
    margin:0;
    padding:0;
    font-family: Sans-Serif;
    line-height: 1.5em;
    background: url("../images/home/backdrop.jpg") repeat #cfcfe6;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.dtable{

  page-break-after: right;
  width: 500px;
}


.album-photo {
box-shadow: 10px 10px 20px grey;
margin: 30px;
float: inherit;
}


.insert{
  padding-top: 30px;
  padding-bottom: 30px;
}

.page {
  position: absolute;
    top: 350px;
    left: 290px;
    box-shadow: 0px 10px 10px grey;
    height:auto;
    /* width: 850px; */
    width: 950px;
    background-color: #ffffff;
    padding: 40px;
    text-align: center;
}



.banner{
position: absolute;
top: 50px;
left: 390px;
width: 750px;
}


.vertical-menu
{
    height: -webkit-fill-available;
    width: 180px;
    background-color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    padding-top: 30px;
    padding-left: 5px;
    padding-bottom: 25px;
    box-shadow: 10px 0px 10px grey;
    display: flex;
    flex-direction: column;
}

.vertical-menu > a
{
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
}

.vertical-menu a:hover {
    background-color: #ffffff;
    color: #85bde1;
  }

.logo{
  margin-bottom: 30px;
  margin-left: 10px;
}

.listbox{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.listboxa{
  width: 200px;
  text-align:left;
  text-overflow: inherit;
  font-style: italic;
}

.lists{
  font-weight: bold;
  text-align: center;
  padding-left: 0px
}

.allalbums{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

}

.onealbum{

}
